@use '../../styles.scss' as *;
@use '../styles/fonts.scss' as *;

.info-card-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    max-width: 48rem;
    width: 100%;
    border: 1px solid var(--bg-neutral);
    border-radius: 1rem;
    text-align: center;

    >h2 {
        text-decoration: underline 1px wavy var(--bg-neutral);
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 25rem) {
    .info-card-content {
        gap: 0.5rem;
        >h2 {
            font-size: 1rem;
        }

        >span {
            font-size: 0.875rem;
        }
    }
}