@use '../../styles.scss' as *;
@use '../styles/buttons.scss' as *;
@use '../styles/fonts.scss' as *;

.player-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 1rem;

    &.player-card:hover {
        cursor: pointer;
        color: var(--primary-content);
    }

    .player-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: var(--bg-neutral);

        img {
            width: 4rem;
            height: 4rem;
        }
    }

    span {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 30rem) {
    .player-card {
        gap: 0.5rem;

        .player-avatar {
            height: 3rem;
            width: 3rem;

            img {
                height: 3rem;
                width: 3rem;
            }
        }

        span {
            font-size: 0.875rem;
        }
    }
}