@use '../../styles.scss' as *;
@use '../styles/buttons.scss' as *;
@use '../styles/fonts.scss' as *;

.player-card {
    display: flex;
    align-items: center;
    width: auto;
    padding: 0.5rem;
    padding-right: 1.5rem;
    gap: 1rem;

    .player-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: var(--bg-neutral);
    }

    span {
        font-size: 1.25rem;
    }
}
