@use '../../styles.scss' as *;
@use '../styles/buttons.scss' as *;
@use '../styles/fonts.scss' as *;

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    gap: 2rem;
    z-index: 10;

    h1 {
        color: var(--primary-content);
    }

    .blur {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10rem;
        width: 10rem;
        border-radius: 4rem;
        background-color: var(--primary-content);
        filter: blur(8rem);
        z-index: 0;
        pointer-events: none;
    }
}