@use '../../styles.scss' as *;
@use '../styles/buttons.scss' as *;
@use '../styles/fonts.scss' as *;

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    height: 100%;
    padding: 1rem;
    gap: 3rem;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.game-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    background-color: var(--bg-base-100);
}

.card-stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex: 1;

    .playing-card {
        position: absolute;
        width: 12rem;
        height: auto;
    }
}

.top-card {
    position: absolute;
    bottom: 1.75rem;
    width: 12rem;
    height: auto;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        filter: brightness(1.1);
        transform: rotate(8deg);
    }
}

.played-card {
    position: absolute;
    width: 12rem;
    height: auto;
    transform: scale(1) rotate(16deg) translateY(1rem);
}

.drawn-card {
    width: 12rem;
    height: auto;
    animation: draw-card-animation 1000ms ease-in-out;
    transform: scale(1) rotate(16deg) translateY(1rem);
}

@keyframes draw-card-animation {
    0% {
        transform: scale(1) rotateY(90deg) translateY(5rem);
    }

    50% {
        transform: scale(1.25) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(16deg) translateY(1rem);
    }
}

.control-bar {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(-50%);
}

.description-card {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 2rem;
}

@media screen and (max-width: 30rem) {

    .player-container {
        gap: 1rem;
    }

    .btn-draw {
        width: 100%;
    }

    .description-card {
        display: none;
    }

    .btn-info,
    .btn-add-user,
    .btn-clipboard {
        height: 2.5rem;
        padding: 0 0.5rem;
    }
}