* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-base-100: #151719;
    --bg-base-200: #0b0e0f;
    --bg-neutral: #333333;
    --bg-accent-1: #ffbbef;
    --bg-accent-2: #bac7ff;
    --bg-accent-3: #7fe6ef;
    --bg-accent-4: #c7ffb9;
    --bg-accent-5: #ffffb9;
    --bg-accent-6: #ffcab7;
    --base-content: #a1a1aa;
    --primary-content: #e4e4e7;
}

body {
    background-color: var(--bg-base-100);
    font-family: 'Inter';
    color: var(--base-content);
    height: 100vh;
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}